<h1>架空投稿の編集</h1>

<%= render 'error_message', post: @post %>

<%= form_with model: @post, url: teacher_post_path, local: true do |form| %>
  <%= form.label :virtual_user_id, '投稿ユーザー' %>
  <%= form.collection_select(:virtual_user_id, @virtual_users, :id, :name, {prompt: "投稿ユーザーを選択してください"}) %>
  <br>

  <%= form.label :body, '本文' %>
  <%= form.text_field :body %>
  <br>

  <%= form.label :image, '画像1' %>
  <%= form.file_field :image1 %>
  <br>

  <%= form.label :image, '画像2' %>
  <%= form.file_field :image2 %>
  <br>

  <%= form.label :image, '画像3' %>
  <%= form.file_field :image3 %>
  <br>

  <%= form.label :image, '画像4' %>
  <%= form.file_field :image4 %>
  <br>

  <%= form.label :date, '日付' %>
  <%= form.date_select :date %>
  <br>

  <%= form.label :display_flag, '表示 / 非表示' %>
  <%= form.select :display_flag, [ ["表示", 1], ["非表示", 0] ] %>
  <br>

  <%= form.submit "更新をする" %>
<% end %>

<%= link_to "一覧に戻る", teacher_posts_path %>
