<h1>答えの編集</h1>

<%= render 'error_message', answer: @answer %>

<%= form_with model: @answer, url: teacher_answer_path, local: true do |form| %>
  <%= form.label :virtual_user_id, 'ユーザー' %>
  <%= form.collection_select(:virtual_user_id, @virtual_users, :id, :name, {prompt: "ユーザーを選択してください"}) %>
  <br>

  <%= form.label :belonging, '学校名（勤務先）' %>
  <%= form.text_field :belonging, size: 30 %>
  <br>

  <%= form.label :name, '名前' %>
  <%= form.text_field :name, size: 30 %>
  <br>

  <%= form.label :address, '住んでいる地域' %>
  <%= form.text_field :address, size: 30 %>
  <br>
  <%= form.submit "更新をする" %>
<% end %>

<%= link_to "一覧に戻る", teacher_answers_path %>
