<h1>教師用画面</h1>
<%= link_to "架空ユーザー一覧", teacher_virtual_users_path %>
<br>
<%= link_to "架空投稿一覧", teacher_posts_path %>
<br>
<%= link_to "フォロー一覧", teacher_follows_path %>
<br>
<%= link_to "いいね一覧", '#' %>
<br>
<%= link_to "シェア一覧", '#' %>
<br>
<%= link_to "引用シェア一覧", '#' %>
<br>
<%= link_to "リプライ一覧", '#' %>
