<h1>リプライ一覧</h1>
<%= flash[:success] %>
<br>
<%= link_to "リプライの追加", new_teacher_reply_path %>
<br>
<%= link_to "項目一覧に戻る", teacher_index_path %>
<br>

<table border="1">
  <tr>
    <th>リプライ状況</th>
    <th></th>
    <th></th>
  </tr>
<% @replies.each do |reply| %>
  <tr>
    <td><%= reply.post_id %> が <%= reply.reply_id %> をフォローしています</td>
    <td><%= link_to "編集", edit_teacher_reply_path(reply) %></td>
    <td><%= link_to "削除", teacher_reply_path(reply), method: :delete, data: {confirm: "削除しますか？"} %></td>
  </tr>
<% end %>
</table>
