<h1>リプライの追加</h1>

<%= render 'error_message', reply: @reply %>

<%= form_with model: @reply, url: teacher_replies_path, local: true do |form| %>
  <%= form.collection_select(:replied_id, @posts, :id, :body, {prompt: "返信対象"}) %>
  に
  <%= form.collection_select(:post_id, @posts, :id, :body, {prompt: "返信内容"}) %>
  と返信する
  <br>

  <%= form.submit "新規作成をする" %>
<% end %>

<%= link_to "一覧に戻る", teacher_replies_path %>
