<div class="post-wrapper">
  <div class="icon-wrapper">
    <% if post.virtual_user_image %>
      <%= image_tag "/user_images/#{post.virtual_user_id}.jpg", size: '40x40' %> <!-- virtual_user_id委譲メソッドがなぜか動作している -->
    <% else %>
      <%= image_tag 'default_icon.jpg', size: '40x40' %>
    <% end %>
  </div>
  <div class="post-info-wrapper">
    <div class="top-wrapper">
      <%= link_to student_virtual_user_path(post.virtual_user_id), class: 'delete_link_decoration delete_link_color' do %>
        <span class="font-bold"><%= post.virtual_user_name %></span>
        <span class="gray-character">@<%= post.virtual_user_sub_name %></span>
      <% end %>
      <span class="gray-character">
        <% if post.id != 26 %>
          <%= post.date %>
        <% else %>
          2015-05-23
        <% end %>
      </span>
    </div>
    <div class="body-wrapper">
      <% if !post.replyings.empty? %>
        <%= link_to student_virtual_user_path(post.replyings_virtual_user_id), class: 'delete_link_decoration' do %>
          @<%= post.replyings_virtual_user_name %>
        <% end %>
      <% end %>
      <%= link_to student_post_path(post.id), class: 'delete_link_decoration delete_link_color' do %>
        <%= post.body %>
      <% end %>

      <%= render 'student/share/post_image', post: post %>
    </div>
    <%= render 'student/share/bottom_icons', post: post %>
  </div>
</div>
