<h1><%= @virtual_user.name %>詳細ページ</h1>
<table border="1">
  <tr>
    <th>SNS上の名前</th>
    <th>ID</th>
    <th>ヒトコト</th>
    <th>フォロー中</th>
    <th>フォロワー</th>
    <th>アイコン</th>
		<th>答え（学校・勤務先）</th>
    <th>答え（本名）</th>
    <th>答え（住んでいる地域）</th>
  </tr>
  <tr>
    <td><%= @virtual_user.name %></td>
    <td><%= @virtual_user.sub_name %></td>
    <td><%= @virtual_user.catch_copy %></td>
    <td><%= @virtual_user.followings_count %></td>
    <td><%= @virtual_user.followers_count %></td>
    <td>
      <% if @virtual_user.image? %>
        <%= image_tag "/user_images/#{@virtual_user.id}.jpg", size: '40x40' %>
      <% else %>
        <%= image_tag 'default_icon.jpg', size: '40x40' %>
      <% end %>
    </td>
		<td><%= @virtual_user.belonging %></td>
    <td><%= @virtual_user.real_name %></td>
    <td><%= @virtual_user.address %></td>
  </tr>
</table>

<%= link_to "戻る", teacher_virtual_users_path %>
