<h1><%= @virtual_user.name %>詳細ページ</h1>
<table border="1">
  <tr>
    <th>名前</th>
    <th>サブネーム</th>
    <th>ヒトコト</th>
    <th>フォロー中</th>
    <th>フォロワー</th>
  </tr>
  <tr>
    <td><%= @virtual_user.name %></td>
    <td><%= @virtual_user.sub_name %></td>
    <td><%= @virtual_user.catch_copy %></td>
    <td><%= @virtual_user.followings_count %></td>
    <td><%= @virtual_user.followers_count %></td>
  </tr>
</table>

<%= link_to "戻る", teacher_virtual_users_path %>
