<div class="answer-wrapper">
  <h1>問題解答</h1>
  <h4 class="answer-label-title">
    それぞれのユーザーの学校(勤務先)，名前(注：ひらがなで姓と名の間に全角スペース)，住んでいる地域(例：○○県○市)の内，特定できた項目にチェックを入れて解答を入力してください
  </h4>
  <br>
  <%= form_with model: @user_answer, url: student_user_answer_check_answer_path, local: true do |form| %>
    <% @virtual_users.each do |virtual_user| %>
      <p class="answer-label-title"><%= virtual_user.name %>の個人情報</p>
      <div class="answer_belonging_wrapper" >
        <%= form.check_box :"check_belonging_#{virtual_user.id}", {class: "answer_belonging_check"}, "true", "false" %>学校(勤務先)
        <%= form.text_field :"belonging_#{virtual_user.id}", :index => "#{virtual_user.id}", class: "answer_belonging", size: "80x10", placeholder: "学校名(勤務先名)" %>
      </div>

      <div class="answer_name_wrapper" >
        <%= form.check_box :"check_name_#{virtual_user.id}", {class: "answer_name_check"}, "true", "false" %>名前
        <%= form.text_field :"name_#{virtual_user.id}", :index => "#{virtual_user.id}", class: "answer_name", size: "80x10", placeholder: "みょうじ　なまえ" %>
      </div>

      <div class="answer_address_wrapper" >
        <%= form.check_box :"check_address_#{virtual_user.id}", {class: "answer_address_check"}, "true", "false" %>住んでいる地域
        <%= form.text_field :"address_#{virtual_user.id}", :index => "#{virtual_user.id}", class: "answer_address", size: "80x10", placeholder: "住んでいる地域（○○県○○市）" %>
      </div>
      <br>
    <% end %>
    <%= form.submit "答えを送信する" %>
  <% end %>
</div>
