<div class="answer-wrapper">
  <h1>採点結果・解説画面</h1>
	<h4 class="answer-label-title">
    あなたは 15 問中 <%= @number_of_correct %> 問正解でした
  </h4>
	<br>
  <% @virtual_users.each_with_index do |virtual_user, i| %>
    <p class="answer-label-title"><%= virtual_user.name %>の個人情報</p>
		<%= render 'answer',
		  status: "belonging",
			answer_info: "学校(勤務先)",
			result: @result[3 * i],
			user_answer: @user_answer[i][0],
			virtual_user_info: virtual_user.belonging,
			explanation: virtual_user.belonging_explanation
		%>
		<%= render 'answer',
		  status: "name",
			answer_info: "名前",
			result: @result[3 * i + 1],
			user_answer: @user_answer[i][1],
			virtual_user_info: virtual_user.real_name,
			explanation: virtual_user.real_name_explanation
		%>
		<%= render 'answer',
		  status: "address",
			answer_info: "住んでいる地域",
			result: @result[3 * i + 2],
			user_answer: @user_answer[i][2],
			virtual_user_info: virtual_user.address,
			explanation: virtual_user.address_explanation
		%>
  <% end %>
</div>
